<a href="https://colab.research.google.com/github/mahfuzur-mafu/GoogleColab/blob/main/193_15_13416_lab2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('/content/weather.numeric.csv')

In [3]:
df.head()

    outlook  temperature  humidity  windy play
0     sunny         85.0      85.0  False   no
1     sunny         80.0       NaN   True   no
2  overcast         83.0       NaN  False  yes
3     rainy         70.0      96.0  False  yes
4     rainy          NaN      80.0  False  yes

In [4]:
df

     outlook  temperature  humidity  windy play
0      sunny         85.0      85.0  False   no
1      sunny         80.0       NaN   True   no
2   overcast         83.0       NaN  False  yes
3      rainy         70.0      96.0  False  yes
4      rainy          NaN      80.0  False  yes
5      rainy         65.0      70.0   True   no
6   overcast         64.0      65.0   True  yes
7      sunny         72.0       NaN  False   no
8      sunny          NaN      70.0    NaN  NaN
9      rainy         75.0      80.0    NaN  NaN
10     sunny         75.0      70.0    NaN  NaN
11  overcast         72.0      90.0   True  yes
12  overcast         81.0       NaN  False  yes
13     rainy         71.0      91.0   True   no

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
l = LabelEncoder()
df['New_Play'] = l.fit_transform(df.play)
df

     outlook  temperature  humidity  windy play  New_Play
0      sunny         85.0      85.0  False   no         0
1      sunny         80.0       NaN   True   no         0
2   overcast         83.0       NaN  False  yes         1
3      rainy         70.0      96.0  False  yes         1
4      rainy          NaN      80.0  False  yes         1
5      rainy         65.0      70.0   True   no         0
6   overcast         64.0      65.0   True  yes         1
7      sunny         72.0       NaN  False   no         0
8      sunny          NaN      70.0    NaN  NaN         2
9      rainy         75.0      80.0    NaN  NaN         2
10     sunny         75.0      70.0    NaN  NaN         2
11  overcast         72.0      90.0   True  yes         1
12  overcast         81.0       NaN  False  yes         1
13     rainy         71.0      91.0   True   no         0

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
oh = OneHotEncoder(sparse=False,handle_unknown='error',drop='first')

In [9]:
n = oh.fit_transform(df[['outlook']])
n

array([[0., 1.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [1., 0.]])

In [10]:
dfn = pd.DataFrame(n)
dfn

      0    1
0   0.0  1.0
1   0.0  1.0
2   0.0  0.0
3   1.0  0.0
4   1.0  0.0
5   1.0  0.0
6   0.0  0.0
7   0.0  1.0
8   0.0  1.0
9   1.0  0.0
10  0.0  1.0
11  0.0  0.0
12  0.0  0.0
13  1.0  0.0

In [11]:
df = df.join(dfn)
df

     outlook  temperature  humidity  windy play  New_Play    0    1
0      sunny         85.0      85.0  False   no         0  0.0  1.0
1      sunny         80.0       NaN   True   no         0  0.0  1.0
2   overcast         83.0       NaN  False  yes         1  0.0  0.0
3      rainy         70.0      96.0  False  yes         1  1.0  0.0
4      rainy          NaN      80.0  False  yes         1  1.0  0.0
5      rainy         65.0      70.0   True   no         0  1.0  0.0
6   overcast         64.0      65.0   True  yes         1  0.0  0.0
7      sunny         72.0       NaN  False   no         0  0.0  1.0
8      sunny          NaN      70.0    NaN  NaN         2  0.0  1.0
9      rainy         75.0      80.0    NaN  NaN         2  1.0  0.0
10     sunny         75.0      70.0    NaN  NaN         2  0.0  1.0
11  overcast         72.0      90.0   True  yes         1  0.0  0.0
12  overcast         81.0       NaN  False  yes         1  0.0  0.0
13     rainy         71.0      91.0   True   no         0  1.0  0.0