<a href="https://colab.research.google.com/github/mahfuzur-mafu/GoogleColab/blob/main/CSE322_lab_day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/data.txt")

In [ ]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60  '2020/12/26'    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [ ]:
df.head(5)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [ ]:
df.tail(5)

    Duration          Date  Pulse  Maxpulse  Calories
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [ ]:
df.dtypes

Duration      int64
Date         object
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [ ]:
df.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [ ]:
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [ ]:
df.equals

<bound method NDFrame.equals of     Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60  '2020/12/26'    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0>

In [ ]:
df= df.dropna()

In [ ]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60  '2020/12/26'    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [ ]:
df.Pulse.mean()

104.10344827586206

In [ ]:
df.Pulse.sum()

3019

In [ ]:
df.Pulse.mode()

0    100
dtype: int64

In [ ]:
df.Pulse.median()

103.0

In [ ]:
x = df.drop('Date',axis = 1)

In [ ]:
from sklearn import preprocessing 
min_max_scaler = preprocessing.MinMaxScaler(feature_range =(-1, 1)) 
new_x= min_max_scaler.fit_transform(x)

In [ ]:
new_x

array([[-0.85714286, -0.05263158, -0.21621622,  0.50757309],
       [-0.85714286,  0.31578947,  0.18918919,  1.        ],
       [-0.85714286, -0.42105263, -0.08108108,  0.02078197],
       [-0.92857143, -0.10526316,  1.        , -0.38499472],
       [-0.92857143,  0.31578947,  0.27027027,  0.48573441],
       [-0.85714286, -0.47368421, -0.2972973 , -0.2610074 ],
       [-0.85714286, -0.05263158, -0.05405405,  0.26030292],
       [ 1.        , -0.36842105, -0.10810811, -0.58999648],
       [-1.        , -0.10526316, -0.13513514, -1.        ],
       [-0.85714286, -0.68421053, -0.37837838, -0.47939415],
       [-0.85714286, -0.42105263,  0.24324324, -0.05459669],
       [-0.85714286, -0.57894737, -0.48648649, -0.60831279],
       [-0.85714286, -0.57894737, -0.48648649, -0.60831279],
       [-0.85714286, -0.26315789, -0.27027027,  0.05811906],
       [-0.85714286, -0.36842105, -0.16216216,  0.29764001],
       [-0.85714286, -0.68421053, -0.40540541, -0.43712575],
       [-0.85714286, -0.68421053, -0.48648649, -0.85840085],
       [-0.85714286, -0.57894737, -0.48648649, -0.2610074 ],
       [-0.85714286, -0.42105263, -0.40540541, -0.09897851],
       [-0.92857143, -0.73684211, -0.35135135, -0.66255724],
       [-0.85714286, -0.15789474, -0.18918919,  0.19126453],
       [-0.85714286,  1.        , -1.        , -0.2610074 ],
       [-0.92857143, -0.31578947, -0.16216216, -0.64142304],
       [-0.85714286, -0.47368421, -0.32432432, -0.01796407],
       [-0.85714286, -0.57894737, -0.48648649, -0.6132441 ],
       [-0.85714286, -1.        , -0.54054054, -0.67664671],
       [-0.85714286, -0.57894737, -0.16216216, -0.40190208],
       [-0.85714286, -0.47368421, -0.24324324,  0.30468475],
       [-0.85714286, -1.        , -0.62162162, -0.66255724]])

In [ ]:
Standardisation = preprocessing.StandardScaler() 
new_x= Standardisation.fit_transform(x)
new_x

array([[-0.14345859,  0.7708962 ,  0.05601932,  1.57349894],
       [-0.14345859,  1.68605368,  1.2164196 ,  2.63476652],
       [-0.14345859, -0.14426128,  0.44281942,  0.52437749],
       [-0.35147354,  0.64015942,  3.53722016, -0.35014343],
       [-0.35147354,  1.68605368,  1.44849966,  1.52643271],
       [-0.14345859, -0.27499806, -0.17606073, -0.08292871],
       [-0.14345859,  0.7708962 ,  0.52017944,  1.04058775],
       [ 5.26493016, -0.01352449,  0.3654594 , -0.79195869],
       [-0.55948849,  0.64015942,  0.28809938, -1.67558921],
       [-0.14345859, -0.79794519, -0.40814079, -0.55359101],
       [-0.14345859, -0.14426128,  1.37113964,  0.36192308],
       [-0.14345859, -0.53647163, -0.71758086, -0.83143359],
       [-0.14345859, -0.53647163, -0.71758086, -0.83143359],
       [-0.14345859,  0.24794907, -0.09870071,  0.60484556],
       [-0.14345859, -0.01352449,  0.21073936,  1.12105583],
       [-0.14345859, -0.79794519, -0.48550081, -0.46249508],
       [-0.14345859, -0.79794519, -0.71758086, -1.37041784],
       [-0.14345859, -0.53647163, -0.71758086, -0.08292871],
       [-0.14345859, -0.14426128, -0.48550081,  0.26627235],
       [-0.35147354, -0.92868197, -0.33078077, -0.94834004],
       [-0.14345859,  0.50942264,  0.13337934,  0.89179774],
       [-0.14345859,  3.38563185, -2.18742121, -0.08292871],
       [-0.35147354,  0.11721229,  0.21073936, -0.90279207],
       [-0.14345859, -0.27499806, -0.25342075,  0.44087289],
       [-0.14345859, -0.53647163, -0.71758086, -0.84206145],
       [-0.14345859, -1.58236589, -0.8723009 , -0.97870535],
       [-0.14345859, -0.53647163,  0.21073936, -0.38658181],
       [-0.14345859, -0.27499806, -0.02134069,  1.13623848],
       [-0.14345859, -1.58236589, -1.10438095, -0.94834004]])